{% extends "base.html" %}   

{% block pestana %} Editar {% endblock %}

{% block titulo %}
<h3>Pagina para editar </h3>
{% endblock%}

{% block contenido %}
<h1>EDITAR</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat doloribus quaerat ducimus nisi alias error ullam corrupti mollitia deleniti explicabo expedita dolorem amet quos a sapiente repellendus adipisci asperiores deserunt aut excepturi, hic animi assumenda. Error similique laboriosam deleniti qui!</p>  

{% endblock %}
